.traffic, .daily-traffic, .mobile-users, .social-stats {
  padding: 18px;
  border-bottom: #ccc solid 1px;
}

.social-stats {
  padding-bottom: 7px;
  border-bottom: #ccc solid 1px;
}

.traffic-navigation {
  display: flex;
  list-style-type: none;
  justify-content: flex-end;
  padding: 0;
}

.traffic-nav-link {
  cursor: pointer;
  margin: auto;
  color: #444;
}

.active {
  padding: 11px 14px;
  background-color: $light-green;
  color: white;
  margin: auto;
  border-top-right-radius: 25%50%;
  border-top-left-radius: 25%50%;
  border-bottom-left-radius:25%50%;
  border-bottom-right-radius: 25%50%;
}

.social-container {
  display: flex;
  flex-direction: column;
}

.facebook-container, .instagram-container, .twitter-container {
  display: flex;
  background-color: #f7f7f7;
  margin: 10px 0;
  border-radius: 10px;
  border: #bbb solid 1px;
  height: 100px;
}

.facebook-text, .instagram-text, .twitter-text {
  margin: auto 5px;
}

.facebook-image, .instagram-image, .twitter-image {
  fill: white;
  height: 65px;
  width: 65px;
  margin: auto 15px;
}

.facebook-path, .instagram-path, .twitter-path {
  transform: scale(0.5);
  transform-origin: 50% 50%;
}

.facebook-t, .instagram-t, .twitter-t {
  font-size: 18px;
  color: $primary-color;
  margin: auto;
}

.facebook-n, .instagram-n, .twitter-n {
  font-size: 40px;
  color: #666;
  margin: 0;
  font-weight: 200;
}
