.page-header {
  display: flex;
  justify-content: space-between;
  background-color: $primary-color;
  padding: 14px 7px;
  height: 80px;
  color: white;
}

.logo-div {
  margin: auto 10px;
  text-align: left;
}

.app-logo {
  font-size: 25px;
  font-weight: 200;
}

.bell-icon {
  height: 60%;
  margin: auto 10px auto auto;
  fill: white;
  cursor: pointer;
}

@keyframes swing {
    20% {
        transform: rotate(10deg);
    }
    40% {
        transform: rotate(-10deg);
    }
    60% {
        transform: rotate(10deg);
    }
    80% {
        transform: rotate(-10deg);
    }
}

.bell-icon:hover {
    animation: swing 0.9s ease-in-out forwards;
    transform-origin: 50% 0;
}

.profile-image {
  border-radius: 50%;
  margin: auto;
  height: 80%;
  margin-top: 10%;
}

.profile-image-div {
  border-left: white solid 1px;
  padding-left: 12px;
}

.page-header p {
  font-size: 16px;
  font-weight: 400;
  margin: auto 10px;
}

.header-2 {
  display: flex;
  justify-content: space-between;
  background-color: $primary-color;
  color: white;
  max-width: 60%;
}

.dropdown-menu {
  position: absolute;
  top: 65px;
  right: 140px;
}

.notification-container {
  display: flex;
  justify-content: space-between;
  background: #fff;
  text-align: left;
  width: 110%;
  border: 1px solid #bbb;
}

.notification-container p {
  font-size: 0.8em;
}

.notification-container img {
  height: 0.8em;
  width: 0.8em;
  margin: auto auto auto 10px;
}

.close-button {
  margin: auto 5px auto auto;
  padding: 4px 6px;
  cursor: pointer;
}

.close-button:hover {
  background-color: darkred;
  color: white;
  border-radius: 20%;
}

.hide {
  display: none;
}
