@media (min-width: 768px) {
    .grid-container {
  grid-template-columns: 55px 1fr;
  grid-template-areas:
    "header header"
    "nav main";
  }

  .nav {
    background-color: $secondary-color;
  }

  .nav-bar {
    height: auto;
    flex-wrap: wrap;
    padding: 0;
  }

  .nav-img {
    height: 100%;
  }

  .nav-li {
    height: 30px;
    margin: 12px auto;
  }

  // .main {
  //   grid-template-columns: 50%, 1fr;
  // }
  //
  // .traffic, .social-stats {
  //   grid-column: 1 / span 2;
  // }
  //
  // .daily, .members, .message {
  //   grid-column: 1 / span 1;
  // }
  //
  // .mobile, .activity, .settings {
  //   grid-column: 2 / span 1;
  // }
}

@media (min-width: 1024px) {
}
