.nav-bar {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  height: 60px;
  background-color: $secondary-color;
  margin: 0;
  padding: 0 45px;
}

.nav-img {
   width: 50%;
   height: 50%;
   fill: white;
}

.nav-li {
  text-align: center;
  margin: auto;
}
