.nav-bar {
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  height: 65px;
  background-color: $secondary-color;
  margin: 0;
  padding: 0 45px;
}

.nav-img {
  height: 60%;
   fill: white;
}

.nav-li {
  text-align: center;
  margin: 13px auto;
  height: 100%;
}
