* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

h1 {
  color: #222;
  font-size: 1.35em;
  font-weight: 400;
}

h2 {
  color: #444;
  font-size: 1.15em;
  font-weight: 400;
}

p {
  font-weight: 400;
}
